In [13]:
import pandas as pd

try:
    df = pd.read_csv('../data/ndt_tests_corrigido.csv')
except FileNotFoundError:
    print("Erro: O arquivo '.csv' não foi encontrado. Verifique o caminho.")

In [14]:
df.head()

,timestamp,download_throughput_bps,rtt_download_sec,upload_throughput_bps,rtt_upload_sec,packet_loss_percent,client,server
0,2025-08-09 15:28:02.000 +0000,8.223657e+07,0.231862,6.973217e+07,0.247727,0.000000,client12,server06
1,2025-08-09 15:30:11.000 +0000,9.027315e+08,0.012000,8.521780e+08,0.005423,0.008226,client01,server07
2,2025-08-10 04:27:43.000 +0000,5.910655e+08,0.014000,2.812188e+08,0.014544,5.954284,client13,server07
3,2025-08-09 22:45:07.000 +0000,6.721139e+08,0.011000,1.135400e+08,0.010482,0.261528,client12,server07
4,2025-08-10 04:49:21.000 +0000,8.122087e+08,0.009000,6.857905e+08,0.009368,1.381646,client03,server03

In [15]:
df.shape

(7087, 8)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7087 entries, 0 to 7086
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                7087 non-null   object
 1   download_throughput_bps  7087 non-null   float64
 2   rtt_download_sec         7087 non-null   float64
 3   upload_throughput_bps    7087 non-null   float64
 4   rtt_upload_sec           7087 non-null   float64
 5   packet_loss_percent      7087 non-null   float64
 6   client                   7087 non-null   object
 7   server                   7087 non-null   object
dtypes: float64(5), object(3)
memory usage: 443.1+ KB

In [17]:
# Conversão da Coluna 'timestamp' para o tipo datetime
df['timestamp'] = pd.to_datetime(df['timestamp'],errors='coerce')
df['timestamp'] = df['timestamp'].dt.tz_localize(None)

In [18]:
df.dtypes

timestamp                  datetime64[ns]
download_throughput_bps           float64
rtt_download_sec                  float64
upload_throughput_bps             float64
rtt_upload_sec                    float64
packet_loss_percent               float64
client                             object
server                             object
dtype: object

In [19]:
df.head()

,timestamp,download_throughput_bps,rtt_download_sec,upload_throughput_bps,rtt_upload_sec,packet_loss_percent,client,server
0,2025-08-09 15:28:02,8.223657e+07,0.231862,6.973217e+07,0.247727,0.000000,client12,server06
1,2025-08-09 15:30:11,9.027315e+08,0.012000,8.521780e+08,0.005423,0.008226,client01,server07
2,2025-08-10 04:27:43,5.910655e+08,0.014000,2.812188e+08,0.014544,5.954284,client13,server07
3,2025-08-09 22:45:07,6.721139e+08,0.011000,1.135400e+08,0.010482,0.261528,client12,server07
4,2025-08-10 04:49:21,8.122087e+08,0.009000,6.857905e+08,0.009368,1.381646,client03,server03

In [20]:
df.describe()

,timestamp,download_throughput_bps,rtt_download_sec,upload_throughput_bps,rtt_upload_sec,packet_loss_percent
count,7087,7.087000e+03,7087.000000,7.087000e+03,7087.000000,7087.000000
mean,2025-08-17 15:27:59.136164608,5.062996e+08,0.048447,3.781607e+08,0.037194,1.899137
min,2025-08-01 00:02:31,-1.000000e+00,-0.001000,-1.000000e+00,-1.000000,-1.000000
25%,2025-08-11 10:28:58,1.642170e+08,0.008000,9.733497e+07,0.004918,0.001484
50%,2025-08-17 18:20:37,5.960927e+08,0.011549,2.979242e+08,0.010858,0.189771
75%,2025-08-24 13:49:17.500000,8.489080e+08,0.115000,6.701694e+08,0.017723,2.050781
max,2025-08-30 23:54:52,9.332671e+08,0.398051,9.214500e+08,0.360227,22.389090
std,NaN,3.352129e+08,0.067859,3.014096e+08,0.063537,3.449941

In [21]:
print("\n--- VALORES NULOS ---")
nulos = df.isnull().sum()
percentual = (nulos / len(df) * 100).round(2)

missing_info = pd.Series({
    col: f"{nulos[col]} ({percentual[col]}%)"
    for col in df.columns if nulos[col] > 0
}).sort_values(ascending=False)

if missing_info.empty:
    print("Nenhuma coluna contém valores nulos.")
else:
    print("Coluna | Total (Percentual)")
    print("-------|---------------------")
    for col, info in missing_info.items():
        print(f"{col:<6} | {info}")

print("\n--- LINHAS DUPLICADAS ---")
total_duplicadas = df.duplicated().sum()
print(f"Total: {total_duplicadas}")

print("\n--- VALORES ÚNICOS POR COLUNA (Cardinalidade) ---")
print(df.nunique().sort_values(ascending=False))

--- VALORES NULOS ---
Nenhuma coluna contém valores nulos.

--- LINHAS DUPLICADAS ---
Total: 0

--- VALORES ÚNICOS POR COLUNA (Cardinalidade) ---
upload_throughput_bps      7086
download_throughput_bps    7083
timestamp                  7076
rtt_upload_sec             5704
packet_loss_percent        5613
rtt_download_sec           3671
client                       13
server                        7
dtype: int64